body{
    margin: 0;
    padding: 0;
    background-color: rgb(146, 118, 172);
    /* background-image: url("papertexture.jpg") ;
    background-repeat: repeat-y;
    background-position: top left 40px; */
    /* background: url(nature.jpg) no-repeat top right; */
    /* background-size: cover; */

    p{
        font-family: Times;
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
        text-align: end;
        text-decoration: dotted;
        text-shadow: 3px 2px 10px #000;
        display: inline-flex;

    }
    #para{
        color: rgb(238, 44, 93);
        
    }
    img{
        float: left;
        margin-right: 20px;
        border: 20px solid #999;
        border-radius: 50px;
    }
     
}
